<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723317854764-g0e84tjd634oh5morrcfoeqpqfgev70k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723317854764-g0e84tjd634oh5morrcfoeqpqfgev70k</string>
	<key>API_KEY</key>
	<string>AIzaSyB3_wO2zktIxPMJe2iy-m8XpZa1cEODoNE</string>
	<key>GCM_SENDER_ID</key>
	<string>723317854764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findHotelsApp</string>
	<key>PROJECT_ID</key>
	<string>diploma-4ebf6</string>
	<key>STORAGE_BUCKET</key>
	<string>diploma-4ebf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723317854764:ios:5abad1a75518c70f9b7789</string>
</dict>
</plist>